<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark px-4 px-lg-5 py-3 py-lg-0">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand p-0">
                <h1 class="text-primary-custom m-0 logo-font">
                    <i class="fa fa-leaf me-2"></i>SAGE
                </h1>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span> </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0 align-items-center">
                    <a href="index.html#home" class="nav-item nav-link active">Home</a>
                    <a href="index.html#about" class="nav-item nav-link">About</a>
                    <a href="index.html#service" class="nav-item nav-link">Service</a>
                    <a href="index.html#menu" class="nav-item nav-link">Menu</a>
                    <a href="index.html#team" class="nav-item nav-link">Team</a>
                    <a href="index.html#contact" class="nav-item nav-link">Contact</a>
                </div>
                <a href="#reservation" class="btn btn-primary-custom py-2 px-4 ms-lg-3 rounded-pill mt-3 mt-lg-0">Book A Table</a>
            </div>
        </div>
    </nav>
</body>

</html>